//**** CSS for mono.html ****/

/*** standard html ***/
* { margin: 0; padding: 0; }
body { background-color: #fff; color: #333; font: 12px verdana, sans-serif !important; line-height:145% !important; text-align: center; padding:0 !important; margin:0 !important; }


.box { text-align: left; margin: 0 auto; width: 91%; min-width: 765px; max-width: 1000px; } /* replaces #wrapper */
.content-box { float: left; padding-top: 15px;/* border-top: 1px solid #ddd;*/ margin-right: 1%; overflow: hidden; }
.content-box-right { float: right; padding-top: 15px;/* border-top: 1px solid #ddd;*/ margin-left: 1%; overflow: hidden; }
.clear { height: 0px !important; clear: both; }

#wrapper-ie { width: auto; }

a:link {
    /*font-weight: bold;*/
    /*color: #5a7ac7;*/
    color: #00b;
    text-decoration: none;
}

a:visited {
    /*font-weight: bold;*/
    /*text-decoration: underline;*/
    text-decoration: none;
    /*color: #9f75ad;*/
    color: #00b;
}

a:hover {
    /*font-weight: bold;*/
    /*color: #dd6545;*/
    text-decoration: underline;
}

a:active {
}

.image img,
a img {
    border: none;
}

.thumb {
    margin: 1em;
    padding: 1em;
    color: #999;
}


h1, h2, h3 { line-height: 120%; font-family: Georgia, serif; }
h2 { font-size: 175%; margin-top: 25px; line-height: 140%; margin-bottom: 12px; }
h3 { font-size: 125%; margin-top: 18px; }
h4 { color: #773; font-size: 105%; font-weight: bold;}
h4 a:link, h4 a:visited { color: #773; }

p + a + h1, p + a + h2, p + a + h3, p + a + h4, p + a + h5, p + a + h6,
ul + a + h1, ul + a + h2, ul + a + h3, ul + a + h4, ul + a + h5, ul + a + h6,
div + a + h1, div + a + h2, div + a + h3, div + a + h4, div + a + h5, div + a + h6,
table + a + h1, table + a + h2, table + a + h3, table + a + h4, table + a + h5, table + a + h6 {
    margin-top: 1.5em;
}

ul { padding: 10px; }
p { margin-bottom: 1em; }

hr {
}


/* layout */






#column-one {
    /* Utility-bar (when logged-in) */
    display: block;
    /*border-bottom: 1px solid #dd9;*/
    padding: 0.75em 1em;
    position: relative;
    line-height: 1.3em;
    background: transparent url(images/edit.png) no-repeat left;
    background: url(images/cpanel.png);
    padding-left: 90px;
    margin-bottom: 15px;
    /*background-color: #ffe;*/
}

#column-one li {
    display: inline;
}
#column-one a {
    text-decoration: none;
    padding: 0 3pt;
}
#column-one a:hover {
    text-decoration: underline;
}
#column-one ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}


#pt-logout a{
    position: absolute;
    /*top: -100px;
    right: 1em;*/
    top: 0px; right:0;
    z-index: top !important;
  color: #fff;
  background-color: #334a33;
  padding: 5px 10px 5px;
}



#p-search {
    /* sidebar - "Search" */
    /*
    position: absolute;
    top: 25px;
    right: 25px;
    */
    margin: 2em 0em 4em;

}

.printfooter { display:none; }

#footer { clear: both; background-color: #f2f4f2; margin-top: 60px; padding: 15px 0; color: #555; font-size: 90%; }
#footer #license { clear: both; border-top: 1px solid #ddd; padding-top: 20px; padding-bottom: 1.5em; text-align: left; }
#footer #license p { margin-top: 0; padding-top: 0 !important; } 
#footer #license img { float: left; margin-right: 10px; }
#footer ul { list-style: none; margin-bottom: 1em; padding: 0; }
#footer ul li { display: inline; margin-right: 3em; font-weight: bold; }
##mwfooter ul li a:hover { background-color: #fff;}


#mw {
	float: right !important;
}

.floatclear {
	clear: both;
}


#toc {
    /*border:1px solid #2f6fab;*/
    border: 1px solid #aaa;
    background-color: #f6f6f6;
    padding: 8pt;
    font-size: 95%;
    float: right;
    margin: 2em;
    width: 24em;
}
#toc ul {
	list-style: none;
	margin-left: 5px;
	padding: 0;
}
#toc li {
	margin-bottom: 3px;
}
#toc li ul {
	margin-top: -2px;
	margin-left: 25px;
}
#toc .tocindent { margin: 0 0 1em 1em; }
#toc .tocline { margin-bottom: 0px; }
#toc p { margin: 0 }
#toc .toctoggle { font-size: 94%; }
#toc .editsection {
    margin-top: 0.7em;
    font-size: 94%;
}
#toc .tocline a {
    font-weight: bold;
    text-decoration: none;
    /* margin-top: 1em; */
}
#toc .tocindent a {
    text-decoration: none;
    /*
    text-indent: 2em;
    */
}
#toc a:hover {
    text-decoration: underline;
}

#toctitle {
	text-align: center;
}
#toctitle h2 {
	padding: 3px;
	margin: 0;
	color: #aaa;
	background-color: #fdfdfd;
	font-size: 12pt;
}

/*** class (may occur multiple times in a page) ***/


.editsection {
	float: right;
}

:target + h1,
:target + h2,
:target + h3,
:target + h4 {
    background-color: #ffffcc;
}

/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a[href ^="http://"],
#bodyContent a[href ^="gopher://"] {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
    background: url("lock_icon.gif") center right no-repeat;
    padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
    background: url("mail_icon.gif") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
    background: url("news_icon.png") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
    background: url("file_icon.gif") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
.link-irc {
    background: url("discussionitem_icon.gif")  center right no-repeat;
    padding-right: 18px;
}

#page-MainPage .rssfeed {
}

#page-MainPage .rssfeed dd+dt+dd {
    display: none;
}
#page-MainPage .rssfeed dd {
    padding: 0 1em 1em;
}

.rssfeed dl {
    margin: 0;
    padding: 1em 0 0;
}
.rssfeed dt {
}
.rssfeed dd {
    margin: 0;
    padding: 0;
}

#page-MainPage .rssfeed a {
    text-decoration: none;
}
#page-MainPage .rssfeed a:hover {
    text-decoration: underline;
}

#page-MainPage .rssfeed h2 {
    margin-top: 0;
}
#page-MainPage .rssfeed h2 a,
#page-MainPage .rssfeed dt a {
    background: none;
    padding-right: 0;
}
.rssfeed .rssmore {
    background: none !important;
    padding: 0 1em !important;
    display: block;
    margin-top: 0.25em;
}



.split-half {
    float: left;
    width: 42%;
    margin: 0 4% 0 0;
}
.split-half + .split-half {
    margin: 0 0 0 4%;
}

#f-login {
    margin: 1em auto;
}

table { 
    border-collapse: collapse;
}
table tr, table td {

}

#page-Downloads table {
    border-collapse: collapse:
}
#page-Downloads .download-table td,
#page-Downloads .download-table th {
    border: 1px solid #ccc;
    border-width: 1px 0;
    padding: 2em 1em;
}
#page-Downloads .download-table th {
    border-right: 1px dotted #ccc;
}
#page-Downloads .download-table table td,
#page-Downloads .download-table table th {
    border: none;
    padding: 0 0.5em;
}
#page-Downloads table th, #page-Downloads table td {
    vertical-align: top;
}
#page-Downloads img {
    vertical-align: middle;
}

#page-FAQGeneral h1 {
}
#page-FAQGeneral h2 {
    border-bottom: 2px solid #ccc;
    font-size: 1.75em;
    margin-top: 2em;
    margin-left: -0.5em;
    padding: 0 0.5em 0.25em;
}
#page-FAQGeneral h3 {
}
#page-FAQGeneral h4 {
    font-size: 1.4em;
    margin-top: 1.75em;
}
#page-FAQGeneral h4:before {
    /*
    content: "Q: ";
    font-size: 0.9em;
    opacity: 0.5;
    margin-left: -18pt;
    */
}
#page-FAQGeneral h4 + p:before {
    /*
    opacity: 0.5;
    font-size: 0.9em;
    content: "A: ";
    font-weight: bold;
    */
}
#page-FAQGeneral h2:before {
}

pre,
tt {
    font-size: 1em;
    font-family: bitstream vera sans mono,luxi mono,monospace;
}
tt {
    font-weight: bold;
}
pre {
    padding: 1%;;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
}

textarea {
    width: 100%;
}



/* custom */

div.code {
    width: 100%;
    overflow: auto;
    background: #eee;
    padding: 1%;
    clear: both;
}

div.code pre {
    border: none;
    padding: 2%;
    background: none;
}

div.floatright {
    float: right;
}
div.floatleft {
    float: left;
    padding: 10px;
}


/* diff */

table.diff { background:white; }
td.diff-otitle { background:#ffffff; }
td.diff-ntitle { background:#ffffff; }
td.diff-addedline {
    background:#ccffcc;
        font-size: smaller;
	}
	td.diff-deletedline {
	    background:#ffffaa;
	        font-size: smaller;
		}
		td.diff-context {
		    background:#eeeeee;
		        font-size: smaller;
			}
span.diffchange { color: red; font-weight: bold;}

/* --------  NEW  ----------*/
/* sub-wrapper to handle max-width in IE. ugly hack. thanks IE. */
  #wrapper-ie {
	width: auto;
  }
    #header-wrapper {
    background: url('images/header-main-b.png') repeat-x bottom left;
    background-color: #486d00;
  }
  #header-main { position: relative; font-size: 11px !important; padding-bottom: 4px;}
  
  html>body #header-main .logo span {
    display: block;
    width: 196px;
    height: 69px; 
    background: url('images/cc-title.png') no-repeat top left;
  }

  
  html>body #header-main .logo span img {
    display: none;
  }

  /* only visible to FF */
  html>body #header-main .find span.img {
    display: block;
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 50px;
    background: url('/images/find.png') no-repeat top left;
  }
  html>body #header-main .publish span.img {
    display: block;
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 50px;
    background: url('/images/license.png') no-repeat top left;
  }
  
#content { padding: 5px 0; margin-bottom: 20px;}
#main-content { float: left; width: 83%; padding-bottom: 35px; }
  #alpha, #blog { width: 77%;} /* + .content-box */  /* #blog and #features - Deprecated, use #alpha and #beta respectively */
  #beta, #features { width: 20%; margin-left: 0.5%;} /* + .content-box */
        
	#sidebar { 
		font-size: 0.85em; 
		width: 15%; 
		margin-left: 1%; 
		margin-right: 0 !important; 
		padding-left: 5px; 
		padding-bottom: 3em; 
	/*	background-color: #f9faf9; */
	} /* + .content-box */

	#sidebar .sideitem {
		clear: both;
		margin-bottom: 1em;
		padding-bottom: 0.7em;
		border-bottom: 1px solid #e0e0e0;
	}

	#sidebar .sideitem #s	{
		width: 95%;
		margin-bottom: 0.5em;
	}

	#sidebar .sideitem #searchsubmit	{
		font-size: 0.9em;
		float: right;
	}
      
      
      #sidebar .nav {
		font-weight: bold;
	  }

	  #sidebar li.separate {
		border-top: 1px solid #ddd;
		height: 1px;
		margin-top: 6px !important;
		margin-bottom: 4px !important;
	  }
	  
	  #sidebar h4 {
	  	font-size: 1em;
	  	margin-bottom: 0;
	  }
      #sidebar ul {
      	list-style:  none;
      	padding-left:0px;
      	margin: 0;
      }  
	  #beta ul {
  		list-style:  none;
  		
	  }
	  #sidebar ul li, #features ul li {
  		margin-bottom: 6px;
	  }
	  #sidebar img {
  		margin-bottom: -3px;
	  }
		


a.cc-actions, a.cc-actions:link {
  display: block;
  float: right;
  width: 227px;
  margin: 0 0 0 0;
  padding: 10px 0 11px 10px;
  color: #fff;
  text-decoration: none;
}

.cc-actions span.option {
  color: #fff;
  font-size: 170%;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0 !important;
  padding: 0 !important;
  display: block;
}

.cc-actions img {
  margin-right: 10px;
  float: left;
}

a.cc-actions:hover {
  background: url('images/header-main-hover-b.png') repeat-x bottom left;
  text-decoration: none;
}

#blog h4, #page h4, #features h4 {
	padding-left: 2%;
}

#blog .blogged img {
  margin: 0 5px;
}
  
#blog .feature {
	border-bottom:  1px solid #ddd;
	padding-bottom:  25px;
	margin-bottom: 35px;
}
  
/* nav tab-bar */
#mainmenu {	position: relative; font-size: 12px !important; padding-top: 0.6em; background: url("images/tabbar-bg.png") repeat-x bottom left #383e32 /*fafffa*/; margin-bottom: 10px; }
ul#navbar { list-style-type: none; padding:0;}
ul#navbar li {float: left; height: 2.4em;  margin: 0.2em 2px 0 2px; background: url("images/tab-bg.png") repeat-x bottom left #f0f4f1; }
ul#navbar li.edit { margin-left: 15px; background: url("images/tab-bg.png") repeat-x bottom left #efe2e2; }
ul#navbar li.active { margin-top: 0; font-weight: bold; height: 2.5em; }

ul#navbar a {display: block; color: #333; background: url("images/tab-body-dark.png") no-repeat top right ;  }
/*ul#navbar li.active a { text-decoration:underline; }*/
ul#navbar a span { display: block; padding: 0.5em 1.4em 0.2em; padding-top: 0.7em; background: url("images/tab-left-dark.png") no-repeat top left; }

ul#navbar a:hover {text-decoration: none !important; color: #333;  background: url("images/tab-body-lit.png") no-repeat top right #fff; }
ul#navbar a:hover span { background: url("images/tab-left-lit.png") no-repeat top left; }

ul#navbar li.active a { background: url("images/tab-body-lit.png") no-repeat top right #fff; }
ul#navbar li.active a span { background: url("images/tab-left-lit.png") no-repeat top left; padding-bottom: 0.4em; }

ul#navbar li.edit a { background: url("images/tab-body-edit.png") no-repeat top right; }
ul#navbar li.edit a span { background: url("images/tab-left-edit.png") no-repeat top left; }

ul#navbar li.edit a:hover { background: url("images/tab-body-edit.png") no-repeat top right #fff2f2; }

#title { border-bottom: 1px solid #eee; margin-right: 15px; margin-top: 15px; }
#title h1 { margin-top: 15px; }
#title h2, .title h1 { padding: 0px 15px 10px 0px;  margin: 0;}
#title h2.tagline { /*  color: #92534e;*/ color: #b82e00;}
#title h3.category { font-size: 90%; display: block; padding-top: 22px; margin: 0px 0px; }
#title h1.splash-title { padding-bottom: 0px; color: #777; font-size: 300%; }
#title h4 { font-size: 90%; padding-top: 10px;}
#title img {  border: 1px solid #666; padding: 0 !important; margin-right: 15px; }
#title #blurb { font-size: 60%; margin-bottom: 15px; }
#international { width: 95%;}

.block { clear: both; margin-bottom: 35px; padding-left: 1%; padding-right: 10%; }
#alpha .block { padding-right: 1% !important; }
.block .title, #title { font-size: 175%; }
.block .title a:link, .block .title a:visited { color: #383838; }
.block h4.meta { color: #aaa; margin-bottom: 7px; font-variant: normal; font-size: 105%; padding-left: 0 !important; }
.block img { border: 0; }
.block img.feature { display: block; }
.block img.commoner { margin-right: 10px; margin-left: 0; padding: 3px; border: 1px solid #e3e3e3; }
.block ul, .block ol { margin-left: 20px; margin-bottom: 15px; }
.block ol ol { list-style-type: lower-roman; }
.block .publish-pics { float: left; margin-right: 10px; margin-bottom: 25px; padding: 3px; border: 1px solid #ccc; }
.block .excerpt { margin-left:  170px; }
.block .comments { margin: 35px 0; }

span.international {
	display: block;
	text-align: right;
	font-size: 90%;
	margin-right: 10px;
	padding: 0;
}

  
